:root{
    --ceritas-navy: #326273;
    --ceritas-green: #BFD3C1;
    --ceritas-beige: #FFF9F3;
    --ceritas-yellow: #F7EF81;
    --ceritas-blue: #EAF5F6;
    --ceritas-softgreen: #82c27d;
    --ceritas-standoutgreen: #82C27D;
}

body {
    font-family: 'Kumbh Sans';
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--ceritas-navy);
}
a{
    text-decoration: none;
}


/* Header and navigation styles */
.navigation-bar {
    width: 100%; 
    height: 20vh; /* change it to desired width */
    background-color: var(--ceritas-navy); /* change to desired color */
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 9vw;
    height: 9vw;
    margin-left: 1.5vw;
    margin-top: 1.5vw;    /* if you want it vertically middle of the navbar. */
}
.navigation-bar .company-name{
    margin-right: 4vw;
    font-size: 3em;
    color: white;
}
.navigation-bar a {
    display: inline-block;
    color: white;
    vertical-align:top;
    margin-right: 2vw;
    height: 13vw;        /* if you want it to take the full height of the bar */
    line-height: 13vw;    /* if you want it vertically middle of the navbar */
    text-decoration: none;
}
.navigation-bar a:hover{
    color: var(--ceritas-blue)
}

button {
    background-color: var(--ceritas-standoutgreen);
    border: none;
    padding: 12px 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 30px;
    color: white;
    width: 60%;
}

button:hover {
    background-color: var(--ceritas-green); /* Darker shade of button color on hover */
}

main {
    text-align: center;
    min-height: 80vh;
}

/* Landing Page */
.landing-intro {
    color: #ffffff;
    text-align: center;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.landing-intro-text{
    padding-left: 10vw;
    padding-right: 15vw;
    padding-bottom: 10px;
    padding-top: 10px;
}

.landing-intro h1{
    font-size: xx-large;
    max-width: 30vw;
}
.phone{
    width: 4%;
}
.landing-intro-dork  {
    margin-top: 5vh;
    width: 30vw; /* Adjust size as needed */
}

.steps {
    height: 100vh;
    background-color: var(--ceritas-beige);
    position: relative;
    color: black;
    padding: 10vh 10vw 10vh 10vw;
}

.dotted-path{
    position: absolute;
    width: 40%;
    height: 35%; 
    top: 26%;
    left: 32%;
}

.step1{
    position: absolute;
    width: 25%;
    top: 25%;
    left: 15%;
}
.step1 h2{
    margin-top: 30%;
}

.step2{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 63%;
}
.step2 h2{
    margin-top: 30%;
}

.step3{
    position: absolute;
    width: 25%;
    top: 67%;
    left: 38%;
}
.step3 h2{
    margin-top: 30%;
}
.sparkle-duck-steps{
    position:absolute;
    width: 30vw;
    top:40%;
    left: 3%;
    transform: scaleX(-1);
    padding: 10px;
    
}
.circle{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 1.7em;
    font-weight: bold;
    color: var(--ceritas-beige);
    text-align: center;
    background: var(--ceritas-green);
}

.sparkling-dork{
    position: absolute;
    left: 20%;
    top: 60%;
    width: 15%;
    transform: scaleX(-1);
}

.test-preview {
    position: relative;
    color: white;
    padding-top: 5%;
}
.stat-info{
    padding-top: 5%;
    padding-left: 50%;
    width: 40%;
    margin-bottom: 5%;
}
.took-test{
    height: 30%;
    background-color: var(--ceritas-blue);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0% 5% 0%;
}

.stat-window{
    position: absolute;
    left: 10%;
    top: 15%;
    height: 60%;
}

/****** Construction Page ******/
.construction{
    margin-top: 5%;
    color: white;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
.construction-dorks{
    margin-top: 15vh;
    width: 50%;
}



/*--------------------AboutUsPage----------------*/

.AboutUs-intro-container {
    color: #ffffff;
    text-align: center;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    font-family: 'Kumbh Sans', sans-serif;

    width: 100%;
}

.AboutUs-intro-back {
     /* Make the image expand to cover the container */
    height: 60vh; /* Adjust height to match the container, maintaining aspect ratio might require different settings */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    position: absolute;

    
}

.AboutUs-intro-text {
    top: 0; /* Align to the top of the container */
    left: 0; /* Align to the left of the container */
    right: 0; /* Align to the right of the container */
    bottom: 0; /* Align to the bottom of the container */
    display: flex; /* Enables the use of flexbox properties below */
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
    color: #ffffff; /* Set the text color */
    text-align: center; /* Ensure text is centered */   
    font-size: 1.3vw;
}

.AboutUs-welcome-duck {
    width: 20vw;
    padding-left: 15vw;
    position: absolute;
    right: 10vw;
}
.AboutUs-features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    align-items: flex-start; /* Align items from the top */
    gap: 20px; /* Space between each feature */
    padding: 20px; /* Padding around the container */
    
}

.feature {
    display: flex;
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center; /* Center-align items */
    width: 20vw; /* Width of each feature */
    text-align: center; /* Center text alignment */
    color: white; /* Text color */
    font-family: Arial, sans-serif; /* Font style */
    padding-top: 5vh;
    font-size: 1.5vw;
}
.feature img {
    width: 8vw; /* Icon size */
    margin-bottom: 3vh; /* Space between icon and text */
}



.SparkleDuck-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    position:relative;
    height: auto;
    width: 100%;
}
.sparkleduck{
    transform: scaleX(-1);
    width: 20vw;
    position: relative;
    float: left;
}
.business-text {
    width: 20vw;
    position: relative;
    float: right;
}
.business-text h1 {
    color: white;
    font-family: 'Istok Web';
    font-size: 2vw;
    font-style: italic;
    font-weight: lighter;
    
}
.business-button {
    background-color: var(--ceritas-standoutgreen);
    border: none;
    padding: 12px 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 30px;
    color: white;
    font-size: 1vw;
    font-family: 'Kumbh Sans', sans-serif;
    width: 100%;
}
.AboutUs-inspiration-container {
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    margin: auto;
    padding-top: 5vh;
}

.AboutUs-inspiration-back {
     /* Make the image expand to cover the container */
     width: 20vw; /* Adjust height to match the container, maintaining aspect ratio might require different settings */
     object-fit: cover; /* Ensures the image covers the area without stretching */
     position: absolute;
     top:auto;
     
     
}
.AboutUs-inspiration-title h1{
   
    display: flex; /* Enables the use of flexbox properties below */
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
    color: #ffffff; /* Set the text color */
    text-align: center; /* Ensure text is centered */
    font-size: 3vw;   
    margin:auto;

    
}

.AboutUs-quote-container {
    width: 50vw;
    padding-top: 5vh;
    padding-left: 25vw;
    padding-right: 25vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;

}
.AboutUs-inspiration-quote p1{
    bottom:auto;
    justify-content: center;
    color: white;
    padding-top: 5vh;
    text-align: center;
    line-height: 1.5;
    font-size: 1.7vw;
}

.AboutUs-inspiration-quote h1 {
    color: white;
    padding-top: 5vh;
    text-align: center;
    font-size: 2vw;
    font-style: italic;
    font-weight: lighter;
}

.sitting-duck-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    height: 5vh;
    width: 100%;
    padding-bottom: 7vh;
}
.sitting-duck-btn{
    background-color: var(--ceritas-standoutgreen);
    border: none;
    padding: 12px 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 30px;
    color: white;
    font-size: 1vw;
    font-family: 'Kumbh Sans', sans-serif;
    position:absolute;
    width: 25%;
    
    

}

.sitting-duck{
    width: 10vw;
    position: absolute;
    right: 20vw;
    padding-top: 10px;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background: #2E5266; /* Same as header */
    color: white;
    bottom: 0;
    width: 100%;
    height: 50px;
}

/* ----------------Mailing List----------------- */
.mailing-list-container{
    color: #ffffff;
    text-align: center;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.mail-form-container{
    display:flex;
    flex-direction: column;
    
}
.mail-form-container form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    align-items: center;
}
.mail-form-container input{
    border: 0;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: #ffffff;
    font-size: 16px;
    width: 80%;
}

.mail-form-container button{
    display:flex;
    align-items: center;
    justify-content: center;
    width:80%;
    font-size: 20px;
    
}

.mail-duck{
    width:30vw;
    padding-right: 20px;
    padding-left:20px;
    transform: scaleX(-1);
}

.mail-icon{
    
    height: 4vh;
    max-height: 40px;
    padding-right: 10px;
}
span{
    color: #ddd;
}

/* -------------------Contact-Us---------------------------------------------- */
.contact-container{
    color: #ffffff;
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.contact-container form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    align-items: center;
}
.contact-container input{
    border: 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: #ffffff;
    font-size: 16px;
    width: 80%;
}
.contact-container textarea{
    height: 150px;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
}





/*** Progress Bar ***/
.container {
    position: relative; /* Allows absolute positioning inside */
    width: 100%; /* Adjust based on your requirements */
    height: 2vh; /* Adjust based on your requirements */
    padding-bottom: 5vh;
}
.overlay-image {
    position:absolute   ; /* Position relative to the nearest positioned ancestor */
    width: 8vh; /* Adjust based on your image size */
    height: auto; /* Maintain aspect ratio */
    z-index: 10;
    padding-left: 5vh;
    top: -3vh;
}

#progress-bar-container {
    width: 90vw;
    background-color: var(--ceritas-beige);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(222, 29, 29, 0.1); /* Adds a subtle shadow for depth */
    margin-bottom: 5vh; /* Spacing below the progress bar */
    margin:auto;
    margin-top: 5vh;
}

#progress-bar {
    height: 2vh;
    background-color: var(--ceritas-softgreen);
    width: 0%; /* Initial state of the progress bar */
    border-radius: 20px; /* Slightly rounded corners for the progress bar */
    transition: width 0.4s ease-in-out; /* Smooth transition for width changes */
}
/*** Headers ***/
.curved-header {
    background-color: #326273; /* Header colour */
    text-align: center; /* Center the text inside the header */
    position: relative;
    color: rgba(255, 255, 255, 0.594); /* Text colour */
    margin-bottom: 10vh; /* Adds some space between the header and the form */
    height: 70vh;
    z-index: 0;
}

.curved-header::after {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    height: 20%; /* Increase the height to make the curve more prominent */
    background: inherit;
    border-radius: 50%; /* Increase the percentage to make a larger curve */
    z-index: -1;
}

.profile-card {
    position: absolute;
    background-color: white; /* Card background colour */
    border-top-left-radius: 50% 33%;
    border-top-right-radius: 50% 33%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    width: 20%;
    height: 75%;
    z-index: 1;
    margin-left: 15%;
    margin-top: 5%;
}

/*** Question Table ***/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td:first-child {
    text-align: left;
}
